feature_engine>=1.0.0
jupyter>=1.0.0
ipykernel>=5.2.1
matplotlib>=3.2.1
autopep8>=1.5.2
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
